body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar li.active {
    background-color: #3e84e0;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
    text-decoration: none;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }

  .page-header{
    text-align: center;
  }

  /* PAGINATION */
  .center {
    text-align: center;
  }
  
  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
  }

  /* TABLA */

  table, td{
    border: 1px solid black;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }

  /* LOGIN */

  .box{
    width: 450px;
    height: 500px;
    padding: 100px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
    border-radius: 30px;
  }
  
  .box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  .box input[type = "text"] , .box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }
  
  .box input[type = "text"]:focus , .box input[type = "password"]:focus{
    width: 250px;
    border-color: #2ecc71;
  }

  .box button[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  
  .box button[type = "submit"]:focus{
    background: #2ecc71;
  }

  .avatar{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -60px;
    left: calc(50% - 50px);
  }